<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackside Ops</title>
    <link rel="stylesheet" href="../../../static/css/main.css">
</head>
<body class="body_home">
    <div class='background'>
    </div>

    <div class="container">
        <img class="logo", src="{% static '/images/logo.jpg' %}" alt="logo" 
            style="max-width: 150px; 
            border-radius: 50%;
            margin-top: 30vh;
            margin-left: 30%;">
        <h3 class="title">Trackside OPS</h3>
        <div class="buttons">
            <form action="{% url 'data_collection' %}">
                <input class="btn", type="submit", value="Collect Data">
            </form>
            <form action="{% url 'view_data' %}">
                <input class="btn", type="submit", value="View Data ">
            </form>
        </div>
    </div>
</body>
</html>