* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: white;
}

.container { 
    position: relative; 
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(../images/rainy_car.jpg);
    background-size: cover;
}

.container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.80);
}

.form-container {
    position: relative;
    text-align: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }