<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackside - Create User</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <div class="create-user">
        <h1>Create User</h1>
        <form action="{% url 'create_user' %}" method="post" class="user-form">
            {% csrf_token %}
            <div>
                <p>Name: </p>
                <input type="text" name="name" placeholder="Name">
                <p>Email: </p>
                <input type="text" name="email" placeholder="Email">
                <p>Subteam: </p>
                <input type="text" name="subteam" placeholder="Subteam">
            </div>
            <button type="submit" class="btn-createuser">Create User</button>
        </form>
    </div>
</body>
</html>