<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackside - Create User</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <div class="create-user">
        <a href="{% url 'home' %}"><h3 class="h3-home-user">Back to Home</h3></a>
        {% if email %}
        <h1>User with email: {{ email }} already exists</h1>
        <form action="{% url 'create_user' %}">
            <input class="btn-user", type="submit", value="Create User">
        </form>
        <form action="{% url 'home' %}">
            <input class="btn-user", type="submit", style="margin-top: 100px;", value="Home">
        </form>

        {% elif name %}
        <h1>User created for {{ name }}</h1>
        <form action="{% url 'create_user' %}">
            <input class="btn-user", type="submit", value="Create User">
        </form>
        <form action="{% url 'home' %}">
            <input class="btn-user", type="submit", value="Home">
        </form>


        {% else %}
        <h1>Create User</h1>
        <form action="{% url 'create_user' %}" method="post" class="user-form">
            {% csrf_token %}
            <div>
                <p>Name: </p>
                <input type="text" name="name" placeholder="Name" required>
                <p>Email: </p>
                <input type="text" name="email" placeholder="Email" required>
                <p>Subteam: </p>
                <input type="text" name="subteam" placeholder="Subteam" required>
                <p>Phone: </p>
                <input type="text" name="phone" placeholder="Phone" pattern="([0-9]{3}-[0-9]{3}-[0-9]{4})|[0-9]{10}" required>
                <div class="licensed">
                    <p>Licensed: </p>
                    <label class="radio_tires" for="new">Yes</label>
                    <input type="radio" name="licensed" value="True" id="True" checked>
                    <label class="radio_tires" for="used">No</label>
                    <input type="radio" name="licensed" value="False" id="False">
                </div>
            </div>
            <button type="submit" class="btn-createuser">Create User</button>
        </form>
        {% endif %}
    </div>
</body>
</html>