<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trackside - Log Data</title>
	<link rel="stylesheet" href="{% static '/css/main.css' %}">
	<!-- Bootstrap CDN -->
	<!-- BS icons CDN -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!-- end Bootstrap CDN -->
	<script src="{% static '/js/script.js' %}"></script>
	<style>
		input {
			border-radius: 25px;
		}
	</style>
</head>

<body>
	<div class="header">
		<div class="row">
			<div class="col-md-4" align="left">
				<!-- <a href="{% url 'view_team' %}" class="logo"><i class="bi bi-people"></i></a> -->
				<a href="{% url 'view_data' %}" class="logo"><i class="bi bi-book"></i></a>
				<a href="{% url 'collectdata' %}" class="logo"><i class="bi bi-plus-lg"></i></a>
			</div>
			<div class="col-md-4" align="left">
				<h2 align="center" class="display-6">Log Data</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main">
			<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				{% if message %}
				<h1 class="logdata">{{message}}</h1>
				<form action="{% url 'collectdata' %}">
					<input class="btn-user" , type="submit" , value="New Entry">
				</form>
				<form action="{% url 'home' %}">
					<input class="btn-user" , style="margin-top: 100px" type="submit" , value="Home">
				</form>
				{% elif entry %}
				<br>
				<form action="{% url 'collectdata' %}" method="post">
					{% csrf_token %}
				</form>
				{% else %}
				<br>
				<form action="{% url 'collectdata' %}" method="post">
					{% csrf_token %}
					<div class="row">
						<!-- Flagged -->
						<div class="col-md-3">
							<label for="flagged" class="field">FLAGGED:</label><br>
						</div>
						<div class="col-md-9">
							<input type="checkbox" class="form-check-input" name="flagged" value="True" id="flagged"><br>
						</div>
					</div><br>
					<div class="row">
						<!-- Date -->
						<div class="col-md-3">
							<label class="field" for="date">Date:</label>
						</div>
						<div class="col-md-9">
							<input class="form-control" type="date" id="date" name="date"
								min="2010-01-01" max="2030-12-31">
						</div><br>
					</div><br>
					<div class="row">
						<!-- Time -->
						<div class="col-md-3">
							<label class="field" for="date">Start Time:</label>
						</div>
						<div class="col-md-9">
							<input class="form-control" type="time" id="time" name="time">
						</div><br>
					</div><br>
					<div class="row">
						<!-- Chassis -->
						<div class="col-md-3">
							<label for="chassis" class="field">Chassis:</label><br>
						</div>
						<div class="col-md-9">
							<select id="chassis" name="chassis" class="form-select">
								<option value="ICE">ICE</option>
								<option value="EV">EV</option>
							</select>
						</div>
					</div><br>
					<div class="row">
						<!-- Car -->
						<div class="col-md-3">
							<label for="car" class="field">Car:</label><br>
						</div>
						<div class="col-md-9">
							<select id="car" name="car" class="form-select" onchange='CheckDyno(this.value);'>
								<option value="G04-20c">G04-20c</option>
								<option value="G04-22e">G04-22e</option>
								<option value="G04-20c">G04-22c</option>
								<option value="Dyno">Dyno</option>
							</select>
						</div>
					</div><br>
					<div class="row">
						<!-- Driver -->
						<div class="col-md-3">
							<label for="driver" class="field">Driver:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" id="driver" name="driver" placeholder="First Last" required>
						</div>
					</div><br>
					<div class="row">
					<!-- Motor -->
					<div class="col-md-3">
						<label for="motor" class="field">Motor:</label>
					</div>
					<div class="col-md-9">
						<select id="motor_select" name="motor" class="form-select" onchange='CheckMotor(this.value);'>
							<option value="2003-2005 Yamaha R6">2003-2005 Yamaha R6 (ICE)</option>
							<option value="Emrax 208">Emrax 208 (EV)</option>
							<option value="other">Other</option>
						</select>
						<input type="text" class="form-control" placeholder="Enter other Motor name" name="motor" id="motor"
							style='display:none;' />
					</div>
					</div><br>
					<!--motor Setup Comments -->
					<div class="row">
						<div class="col-md-3">
							<label for="motor_comments" class="field">Comments on motor Setup:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="motor_comments" id="motor_comments">
						</div>
					</div><br>
					<div class="row">
						<!-- Location  -->
						<div class="col-md-3">
							<label for="location" class="field">Location:</label>
						</div>
						<div class="col-md-9">
							<select id="location_select" name="location" class="form-select" onchange='CheckLocations(this.value);'>
								<option value="Amery Airport">Amery Airport</option>
								<option value="State Fair Lot">State Fair Lot</option>
								<option value="other">Other</option>
							</select>
							<input type="text" class="form-control" placeholder="Enter other location name" name="location"
								id="location" style='display:none;' />
						</div>
					</div><br>
					<div class="row">
						<!-- Drive Day Leader -->
						<div class="col-md-3">
							<label for="drive_day_lead" class="field">Drive Day Lead:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" id="drive_day_lead" name="drive_day_lead"
								placeholder="First Last" required>
						</div>
					</div><br>
					<div class="row">
						<!-- Track -->
						<div class="col-md-3">
							<label for="track" class="field">Track:</label>
						</div>
						<div class="col-md-9">
							<select id="track_select" name="track" class="form-select" onchange='CheckTracks(this.value);'>
								<option value="Comp Spec Skidpad">Comp Spec Skidpad</option>
								<option value="Acceleration">Acceleration</option>
								<option value="Open Loop Autocross">Open Loop Autocross</option>
								<option value="Close Loop Autocross">Close Loop Autocross</option>
								<option value="other">Other</option>
							</select>
							<input type="text" class="form-control" placeholder="Enter other track name" name="track" id="track"
							style='display:none;' />
						</div>
					</div><br>
					<div class="row">
						<!-- Weather -->
						<div class="col-md-3">
							<label for="weather" class="field">Weather:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="weather" id="weather" placeholder="Sunny, Windy, Rainy, Cloudy, Icy">
						</div>
					</div><br>
					<div class="row">
						<!-- Air Temperature -->
						<div class="col-md-3">
							<label for="air_temperature" class="field">Air Temperature:</label>
						</div>
						<div class="col-md-9">
							<input type="number" class="form-control" name="air_temp" id="air_temperature">
						</div>
					</div><br>
					<div class="row">
						<!-- Track Temperature -->
						<div class="col-md-3">
							<label for="track_temperature" class="field">Track Temperature:</label>
						</div>
						<div class="col-md-9">
							<input type="number" class="form-control" name="track_temp" id="track_temperature">
						</div>
					</div><br>
					<div class="row">
						<!-- Track Temperature Unit -->
						<div class="col-md-3">
							<label for="track_temperature_unit" class="field">Farenheit or Celcius:</label>
						</div>
						<div class="col-md-9">
							<select id="track_temperature_unit" name="tires" class="form-select">
								<option value="F">F</option> 
								<option value="C">C</option>
							</select>
						</div>
					</div><br>
					<div class="row">
						<!-- Wind Direction -->
						<div class="col-md-3">
							<label for="wind_direction" class="field">Wind Direction:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" id="wind_direction" name="wind_direction"
								placeholder="NW, N, SE, S, etc." required>
						</div>
					</div><br>
					<div class="row">
						<!-- Wind Speed -->
						<div class="col-md-3">
							<label for="wind_speed" class="field">Wind Speed (mph):</label>
						</div>
						<div class="col-md-9">
							<input type="number" class="form-control" id="wind_speed" name="wind_speed" min="0"
								placeholder="ex. 69mph" required>
						</div>
					</div><br>
					<div class="row">
						<!-- Tires -->
						<div class="col-md-3">
							<label for="tires" class="field">Tires:</label>
						</div>
						<div class="col-md-9">
							<select id="tire_select" name="tires" class="form-select" onchange='CheckTires(this.value);'>
								<option value="R20">R20</option> 
								<option value="R25b">R25b</option>
								<option value="LC0C">LC0C</option>
								<option value="other">Other</option>
							</select>
							<input type="text" class="form-control" placeholder="Enter other tire name" name="tires" id="tires"
								style='display:none;' />
							</div>
						</div><br>
						<!-- Front-Left Tire Serial Number -->
					<div class="row">
						<div class="col-md-3">
							<label for="fl-tire-serial-num" class="field">Front-Left Tire Serial Number:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="fl_tire_serial_number" id="fl_tire_serial_num">
						</div>
					</div><br>
					<div class="row">
						<!-- Front-Left Tire Condition -->
						<div class="col-md-3">
							<label for="fl_tire_condition" class="field">Front-Left Tire Condition:</label><br>
						</div>
						<div class="col-md-9">
							<label for="fl_tire_condition_new">New Set</label>
							<input type="radio" class="form-check-input" name="fl_tire_condition" value="New Set" id="fl_tire_condition_new"><br>
							<label for="fl_tire_condition_used">Used Set</label>
							<input type="radio" class="form-check-input" name="fl_tire_condition" value="Used Set" id="fl_tire_condition_used" checked><br>
						</div>
					</div><br>
						<!-- Front-Right Tire Serial Number -->
					<div class="row">
						<div class="col-md-3">
							<label for="fr-tire-serial-num" class="field">Front-Right Tire Serial Number:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="fr_tire_serial_number" id="fr_tire_serial_num">
						</div>
					</div><br>
					<div class="row">
						<!-- Front-Left Tire Condition -->
						<div class="col-md-3">
							<label for="fr_tire_condition" class="field">Front-Right Tire Condition:</label><br>
						</div>
						<div class="col-md-9">
							<label for="fr_tire_condition_new">New Set</label>
							<input type="radio" class="form-check-input" name="fr_tire_condition" value="New Set" id="fr_tire_condition_new"><br>
							<label for="fr_tire_condition_used">Used Set</label>
							<input type="radio" class="form-check-input" name="fr_tire_condition" value="Used Set" id="fr_tire_condition_used" checked><br>
						</div>
					</div><br>
						<!-- Back-Left Tire Serial Number -->
					<div class="row">
						<div class="col-md-3">
							<label for="bl-tire-serial-num" class="field">Back-Left Tire Serial Number:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="bl_tire_serial_number" id="bl_tire_serial_num">
						</div>
					</div><br>
					<div class="row">
						<!-- Back-Left Tire Condition -->
						<div class="col-md-3">
							<label for="bl_tire_condition" class="field">Back-Left Tire Condition:</label><br>
						</div>
						<div class="col-md-9">
							<label for="bl_tire_condition_new">New Set</label>
							<input type="radio" class="form-check-input" name="bl_tire_condition" value="New Set" id="bl_tire_condition_new"><br>
							<label for="bl_tire_condition_used">Used Set</label>
							<input type="radio" class="form-check-input" name="bl_tire_condition" value="Used Set" id="bl_tire_condition_used" checked><br>
						</div>
					</div><br>
						<!-- Back-Right Tire Serial Number -->
					<div class="row">
						<div class="col-md-3">
							<label for="br-tire-serial-num" class="field">Back-Right Tire Serial Number:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="br_tire_serial_number" id="br_tire_serial_num">
						</div>
					</div><br>
					<div class="row">
						<!-- Back-Left Tire Condition -->
						<div class="col-md-3">
							<label for="br_tire_condition" class="field">Back-Right Tire Condition:</label><br>
						</div>
						<div class="col-md-9">
							<label for="br_tire_condition_new">New Set</label>
							<input type="radio" class="form-check-input" name="br_tire_condition" value="New Set" id="br_tire_condition_new"><br>
							<label for="br_tire_condition_used">Used Set</label>
							<input type="radio" class="form-check-input" name="br_tire_condition" value="Used Set" id="br_tire_condition_used" checked><br>
						</div>
					</div><br>
					<!-- Link to Data File -->
					<div class="row">
						<div class="col-md-3">
							<label for="data_file_link" class="field">Link to Data File:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="data_file_link" id="data_file_link">
						</div>
					</div><br>
					<div class="row">
						<!-- Comments -->
						<div class="col-md-3">
							<label for="comments" class="field">Comments:</label>
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" name="comments" id="comments">
						</div>
					</div><br>
					<!-- entry id -->
					<!-- <label for="entry_id">entry id:</label> -->
					<div class="row">
						<!-- SUBMIT -->
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<input type="submit" label="Submit" class="btn btn-primary" onclick="
								document.getElementById('track').value = document.getElementById('track_select').value;
								document.getElementById('tires').value = document.getElementById('tire_select').value;
								document.getElementById('motor').value = document.getElementById('motor_select').value;
								document.getElementById('location').value = document.getElementById('location_select').value;
							">
						</div>
						<div class="col-md-4"></div>
					</div><br>
					<input class="form-control" id="entry_id" type="text" name="entry_id" hidden="true"
						value={{entry.id}}>
				</form>
				{% endif %}
			</div>
			<div class="col-md-3"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function CheckLocations(val) {
			var element = document.getElementById('location');
			if (val == 'Pick a Location' || val == 'other')
				element.style.display = 'block';
			else
				element.style.display = 'none';
		}
		function CheckTracks(val) {
			var element = document.getElementById('track');
			if (val == 'Pick a Track' || val == 'other')
				element.style.display = 'block';
			else
				element.style.display = 'none';
		}
		function CheckTires(val) {
			var element = document.getElementById('tires');
			if (val == 'Pick a Tire' || val == 'other')
				element.style.display = 'block';
			else
				element.style.display = 'none';
		}
		function CheckMotor(val) {
			var element = document.getElementById('motor');
			if (val == 'Pick a Motor' || val == 'other')
				element.style.display = 'block';
			else
				element.style.display = 'none';
		}
		function CheckDyno(val) {
			console.log("STARTIGN WITH " + val);
			if (val == 'Dyno') {
				document.getElementById('track_select').disabled = true;
				document.getElementById('track_select').value = "Dyno";
				document.getElementById('weather').disabled = true;
				document.getElementById('weather').value = "Dyno";
				document.getElementById('air_temperature').disabled = true;
				document.getElementById('track_temperature').disabled = true;
				document.getElementById('track_temperature_unit').disabled = true;
				document.getElementById('wind_direction').disabled = true;
				document.getElementById('wind_speed').disabled = true;
				document.getElementById('location_select').disabled = true;
				document.getElementById('location_select').value = "Dyno";
			} else {
				document.getElementById('track_select').disabled = false;
				document.getElementById('weather').disabled = false;
				document.getElementById('air_temperature').disabled = false;
				document.getElementById('track_temperature').disabled = false;
				document.getElementById('track_temperature_unit').disabled = false;
				document.getElementById('wind_direction').disabled = false;
				document.getElementById('wind_speed').disabled = false;
				document.getElementById('location_select').disabled = false;
			}
		}
	</script>
</body>

</html>