<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackside Ops</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body class="body_home">
    <div class='background'>
    </div>
    <div class="container">
        <img class="logo", src="{% static '/images/logo.jpg' %}" alt="logo" 
            style="max-width: 150px; 
            border-radius: 50%;
            margin-top: 15vh;
            margin-left: 30%;
            box-shadow: 2px 2px 5px rgb(66, 66, 66);
            box-shadow: -2px 2px 5px rgb(66, 66, 66);
            box-shadow: 2px -2px 5px rgb(66, 66, 66);
            box-shadow: -2px -2px 5px rgb(66, 66, 66);">
        <h3 class="text-style">TRACKSIDE OPS</h3>
        <div class="buttons">
            <form action="{% url 'collectdata' %}">
                <input class="btn", type="submit", value="Log Data">
            </form>
            <form action="{% url 'view_data' %}">
                <input class="btn", type="submit", value="View Data">
            </form>
        </div>
        <div class="buttons">
            <form action="{% url 'create_user' %}">
                <input class="btn-user", type="submit", value="Create User">
            </form>
        </div>
    </div>
</body>
</html>