<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <title>Trackside Ops- View Data</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static '/css/view_data.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Trackside Ops</a>
    </div>
    <div class="container" align="center">
        <h4>View/Edit Data</h4>
        <table width="75%" id="spiderman">
            <tr>
                <form action="{%url 'view_data' %}" method="POST">
                    {% csrf_token %}
                    <!-- <input type ="text" name="method" style="display: none;" value="Search">  -->
                    <!-- <input list="searches" name="search" placeholder="Choose field to filter" /> this is the dropdown -->
                    <!-- <datalist id="searches">
                        <option value="id">
                        <option value="Date">
                        <option value="Temperature">
                        <option value="Driver">
                        <option value="Location">
                        <option value="Track">
                        <option value="Fast Lap">
                        <option value="Engine">
                        <option value="Tires">
                        <option value="Tire Condition">
                        <option value="Software">
                        <option value="Comments">
                        <option value="Created At">
                        <option value="Personnel">
                    </datalist> -->
					<select name="cars" id="cars">
							<option value="empyy">Select a Field</option>
							<option value="id">id</option>
							<option value="Date">Date</option>
							<option value="Temperature">Temperature</option>
							<option value="Driver">Driver</option>
							<option value="Location">Location</option>
							<option value="Track">Track</option>
							<option value="Fast Lap">Fast Lap</option>
							<option value="Engine">Engine</option>
							<option value="Tires">Tires</option>
							<option value="Tire Condition">Tire Condition</option>
							<option value="Software">Software</option>
							<option value="Comments">Comments</option>
							<option value="Created At">Created At</option>
							<option value="Personnel">Personnel</option>
					  </select>
                    <input onkeyup="filter()" type ="text" id="sandman" name="param" placeholder ="Search">
                    <!-- <button type="submit" method ="filter" class="button">Search</button> -->
                    <!-- <input type="image" src="{% static '/images/search.png' %}"> -->
                </form>   
            </tr>
            <tr>
                <td>Date</td>
                <td>Drivers</td>
                <td>Track</td>
                <td>Weather</td>
                <td>Personnel</td>
                <td>Location</td>
                <td></td>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{entry.created_at}}</td>
                    <td>{{entry.driver}}</td>
                    <td>{{entry.track}}</td>
                    <td>{{entry.weather}}</td>
                    <td>{{entry.personnel}}</td>
                    <td>{{entry.location}}</td>
                    <td>
                        <div class='btns'>
                            <form action="{%url 'collectdata' %}" method="post">
                                {% csrf_token %}
                                <input type ="text" name="entry_id" style="display: none;" value={{entry.id}}>
                                <input type ="text" name="method" style="display: none;" value="load">
                                <input type=image class="btn-edit" src="{% static '/images/edit.png' %}">
                            </form>   
                            <form action="{%url 'view_data' %}" method="post">
                                {% csrf_token %}
                                <input type ="text" name="entry_id" style="display: none;" value={{entry.id}}>
                                <input type ="text" name="method" style="display: none;" value="delete">
                                <input type=image class="btn-delete" src="{% static '/images/delete.png' %}">
                            </form>
                        </div>                  
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
	<script>
		function filter() {
			var input, filter, table, tr, td, i, txtValue, index;
			input = document.getElementById("sandman");
			filter = input.value.toUpperCase();
			table = document.getElementById("spiderman");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[2];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}       
			}
		}
	</script>
</body>
</html>