<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <title>Trackside Ops- View Data</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static '/css/view_data.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Trackside Ops</a>
    </div>
    <div class="container" align="center">
        <h4>Data entered</h4>
        <table width="75%">
            <tr>
                <td>Date</td>
                <td>Drivers</td>
                <td>Track</td>
                <td>Weather</td>
                <td>Personnel</td>
                <td>Location</td>
                <td></td>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{entry.created_at}}</td>
                    <td>{{entry.driver}}</td>
                    <td>{{entry.track}}</td>
                    <td>{{entry.weather}}</td>
                    <td>{{entry.personnel}}</td>
                    <td>{{entry.location}}</td>
                    <td>
                        <div class='btns'>
                            <form action="{%url 'collectdata' %}" method="post">
                                {% csrf_token %}
                                <input type ="text" name="entry_id" style="display: none;" value={{entry.id}}>
                                <input type ="text" name="method" style="display: none;" value="load">
                                <input type=image class="btn-edit" src="{% static '/images/edit.png' %}">
                            </form>   
                            <form action="{%url 'view_data' %}" method="post">
                                {% csrf_token %}
                                <input type ="text" name="entry_id" style="display: none;" value={{entry.id}}>
                                <input type ="text" name="method" style="display: none;" value="delete">
                                <input type=image class="btn-delete" src="{% static '/images/delete.png' %}">
                            </form>
                        </div>                  
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>